html {
  scroll-behavior: smooth; }

.image {
  position: relative;
  cursor: pointer; }

.image-overlay {
  background: rgba(142, 200, 55, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .2s ease-in-out; }
  .image-overlay .fa {
    font-size: 40px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; }

.image:hover .image-overlay {
  opacity: 1; }

p {
  color: #474747; }

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
  font-variant: small-caps; }

#head-top {
  background: #8EC837; }
  #head-top ul li {
    display: inline-block;
    margin: 0px 10px;
    position: relative; }
    #head-top ul li a {
      color: #fff; }
    #head-top ul li div {
      background: #000;
      position: absolute;
      top: 20px;
      right: 0px;
      display: flex;
      visibility: hidden;
      opacity: 0;
      transition: all .4s ease; }
      #head-top ul li div input {
        background: #000;
        border: none;
        color: #fff;
        padding: 5px;
        outline: none; }
      #head-top ul li div .fa {
        color: #fff;
        padding-right: 10px;
        line-height: 35px; }
      #head-top ul li div input::placeholder {
        color: #fff;
        opacity: 1; }
  #head-top ul li:nth-child(5):hover div {
    visibility: visible;
    opacity: 1; }

#contact-section .fa {
  font-weight: 900;
  font-size: 16px;
  line-height: 16px;
  color: #8EC837;
  padding: 12px;
  background: #f9f9f9;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 5px;
  transition: all .5s ease-in-out; }

#contact-section .d-flex:hover .fa {
  background: #8EC837;
  color: #fff; }

#contact-section div a {
  color: #8EC837;
  text-decoration: none; }

#home-navigation {
  background: url("../assets/home-head.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 750px;
  position: relative; }
  #home-navigation .dark-overlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 100%;
    width: 100%; }
  #home-navigation nav {
    background: #8EC837; }
    #home-navigation nav ul > li > a {
      color: #fff;
      transition: .2s; }
    #home-navigation nav ul > li:hover > a {
      color: #000; }
    #home-navigation nav ul > li:first-child a {
      color: #000; }
    #home-navigation nav h3 {
      text-transform: capitalize;
      font-variant: small-caps; }
    #home-navigation nav .dropdown-menu {
      background: rgba(142, 200, 55, 0.5);
      border: none;
      border-radius: 0; }
      #home-navigation nav .dropdown-menu .dropdown-item {
        padding: 8px 15px;
        color: #fff;
        border-bottom: 1px solid #8EC837; }
      #home-navigation nav .dropdown-menu .dropdown-item:hover {
        background: #8EC837; }
  #home-navigation .head-info {
    margin-top: 250px;
    max-width: 700px; }
    #home-navigation .head-info h1 {
      font-weight: 500; }
    #home-navigation .head-info .h-button .btn:first-child {
      background: #8EC837;
      padding: .5rem 1.5rem;
      border: 2px solid #8EC837;
      transition: all .3s ease-in-out;
      margin-right: 20px; }
    #home-navigation .head-info .h-button .btn:last-child {
      border: 2px solid #fff;
      padding: .5rem 1rem;
      transition: all .3s ease-in-out; }
    #home-navigation .head-info .h-button .btn:last-child:hover {
      background: #8EC837;
      border: 2px solid #8EC837; }
    #home-navigation .head-info .h-button .btn:first-child:hover {
      background: transparent;
      border: 2px solid #fff; }

#content {
  min-height: 300px; }
  #content img {
    width: 100%;
    height: 230px; }
  #content .card {
    cursor: pointer;
    margin-top: -70px;
    border: none; }
    #content .card .card-body {
      background: #8EC837;
      color: #fff; }

#ante {
  position: relative;
  background: url("../assets/03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 450px; }
  #ante .col-md-6:first-child .fa {
    font-size: 20px;
    color: #8EC837;
    background: #fff;
    padding: 20px;
    border-radius: 50%;
    transition: all .4s; }
  #ante .dark-overlay {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%; }
  #ante .d-sm-flex:hover .fa {
    background: #8EC837;
    color: #fff; }

#ipsum .fa {
  font-size: 3rem;
  color: #8EC837;
  margin-bottom: 1rem; }

#ipsum a {
  color: #8EC837; }

#mix button {
  border: none;
  outline: none;
  background: #f8f9fa;
  color: #8EC837; }

#mix img {
  height: 250px;
  width: 100%; }

#profile {
  background: url("../assets/content3.jpg");
  background-attachment: fixed;
  min-height: 420px;
  position: relative; }
  #profile .dark-overlay {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }
  #profile img {
    height: 100px;
    width: 100px;
    border-radius: 50%; }
  #profile .row .col-12 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#blog img {
  width: 100%;
  height: 250px; }

#blog .card-text a {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 10px;
  padding-left: 5px;
  color: #8EC837; }

#blog .card-text p {
  color: #474747; }

#footer {
  background: url("../assets/footer.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: repeat;
  min-height: 71vh; }
  #footer .dark-overlay {
    background: rgba(0, 0, 0, 0.5);
    min-height: 100%;
    margin: 0;
    padding: 0; }
  #footer .social-link ul {
    display: flex; }
  #footer .social-link ul li {
    background: rgba(255, 255, 255, 0.2);
    height: 35px;
    width: 35px;
    margin-right: 7px;
    transition: .3s; }
    #footer .social-link ul li .fa {
      font-size: 18px;
      line-height: 2;
      padding: 0 8px;
      color: #fff; }
  #footer .social-link ul li:hover {
    background: #8EC837; }
  #footer .social-link ul li:hover .fa {
    color: #fff; }
  #footer .col-md-3:nth-child(2) ul li {
    padding: 13.5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  #footer .col-md-3:nth-child(2) ul li a {
    color: #fff;
    text-decoration: none; }
  #footer .col-md-3:nth-child(2) a:hover {
    color: #8EC837; }
  #footer .col-md-3:nth-child(2) ul li:first-child {
    padding-top: 0; }
  #footer .col-md-3:nth-child(2) ul li:last-child {
    border: none; }
  #footer .btn {
    background: #8EC837;
    color: #fff;
    border: 2px solid #8EC837;
    transition: all .2s ease; }
  #footer .btn:hover {
    background: transparent;
    border-color: #fff; }
  #footer .footlist ul li a {
    color: #fff;
    text-decoration: none; }
  #footer .footlist a:hover {
    color: #8EC837; }
  #footer .footlist .fa {
    font-size: 20px; }
  #footer p {
    color: #fff; }
  #footer a {
    color: #fff;
    transition: .2s; }
  #footer a:hover {
    color: #8EC837; }
  #footer hr {
    background: rgba(255, 255, 255, 0.3); }
  #footer .arrow {
    background: rgba(142, 200, 55, 0.5);
    cursor: pointer;
    transition: .2s;
    position: fixed;
    bottom: 20px;
    right: 20px; }
    #footer .arrow a {
      text-decoration: none;
      color: #fff; }
    #footer .arrow .fa {
      font-size: 20px;
      line-height: 2;
      padding: 0 15px; }
  #footer .arrow:hover {
    background: #8EC837; }

@media (max-width: 767px) {
  .d-sm-flex {
    justify-content: center;
    margin-bottom: 8px; }
  #home-navigation .head-info {
    width: 100%; }
    #home-navigation .head-info h1 {
      font-size: 45px; }
  #content .row {
    margin-bottom: 50px; }
    #content .row .col-md-4:nth-child(2) .card {
      margin-top: 30px; }
    #content .row .col-md-4:nth-child(3) .card {
      margin-top: 30px; } }

@media (max-width: 576px) {
  .d-sm-flex {
    text-align: center; } }

@media (max-width: 480px) {
  #home-navigation .head-info h1 {
    font-size: 35px; }
  #home-navigation .head-info p {
    font-size: 16px; }
  #profile .card p {
    display: none; } }
